*{
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-right: 8rem;
    padding-left: 5rem;
    padding-top: 1rem;
}

.nav-list-elements {
    list-style: none;
    display: flex;
    gap: 20px;
}