* {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-right: 4rem;
  padding-left: 2.5rem;
  margin-right: 4rem;
  margin-left: 2.5rem;
  padding-top: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid black;
}

.nav-list-elements {
  list-style: none;
  display: flex;
  gap: 20px;
}

.movie-display {
  margin: 5%;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movieLikes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  border: 3px solid black;
  height: 30rem;
  width: 15rem;
  border-radius: 1%;
  background-size: contain;
  box-shadow: 15px 0 15px 0 rgba(0, 0, 0, 0.8);
}

.name-and-like {
  display: flex;
  gap: 8rem;
  align-items: center;
  margin-top: 10px;
  font-weight: 900;
}

.likeCount {
  width: 8px;
}

.Reserve_and_comment_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Reserve_and_comment {
  margin-top: 5px;
  border: 1px solid black;
  width: 100%;
  padding-left: 100%;
  padding-right: 100%;
  cursor: pointer;
}

.icon-heart {
  color: grey;
}

.Reserve_and_comment:hover {
 background-color: crimson;
 color: #FFF;
}

.icon-heart:hover {
  color: crimson;
  overflow: hidden;
  font-size: 20px;
}
